
<section>
<h2 id="blogroll">blogroll</h2>

<h3 id="film">film</h3>

<p><a href="http://www.peter-noster.de/wordpress/">Mostly Movies</a> <br />
<a href="http://www.yzordderrexxiii.de/">Yzordderrexxiii</a> <br />
<a href="http://twitterfilmclub.tumblr.com/">Twitter Filmclub</a> <br />
<a href="http://www.slashfilm.com/category/features/slashfilmcast/">slashfilmcast</a></p>

<h3 id="tv">tv</h3>

<p><a href="http://cultural-learnings.com/">Cultural Learnings</a> <br />
<a href="http://www.hollywoodreporter.com/blogs/bastard-machine">The Bastard Machine</a> <br />
<a href="http://www.hitfix.com/whats-alan-watching">Whats Alan Watching</a></p>

<h3 id="musik">musik</h3>

<p><a href="http://www.dustandgrooves.com/">Dust &amp; Grooves ~ Vinyl. Music. Culture</a> <br />
<a href="http://www.kraftfuttermischwerk.de/blogg/">Das Kraftfuttermischwerk</a></p>

<h3 id="zeug">zeug</h3>

<p><a href="http://www.ankegroener.de/">Anke Gröner</a> <br />
<a href="http://dasnuf.de/">Das Nuf Advanced</a> <br />
<a href="http://www.dragstripgirl.de/">dragstripgirl</a> <br />
<a href="http://brettterpstra.com/">Brett Terpstra</a> <br />
<a href="http://onethingwell.org/">One Thing Well</a> <br />
<a href="http://www.alcademics.com/">Alcademics.com</a> <br />
<a href="http://americandrink.net/">American Drink</a> <br />
<a href="http://joythebaker.com/">Joy the Baker</a> <br />
<a href="http://nutriculinary.com/">nutriculinary.com</a> <br />
<a href="http://saltandfat.com/">Salt &amp; Fat</a> <br />
<a href="http://sciencefare.org/">Science Fare</a> <br />
<a href="http://shesimmers.com/">SheSimmers</a></p>
</section>